@font-face {
    font-family: 'Deadly Finisher';
    font-style: normal;
    font-weight: 400;
    src: local('DEADLY FINISHER'), url('https://fonts.cdnfonts.com/s/50988/DeadlyFinisher-9Yym5.woff') format('woff');
}